NODE_ENV=development
APP_PORT=4000
MONGODB_URL=mongodb://127.0.0.1:27017/stringee-otp-nodejs
BASE_API_DOMAIN=https://your-server-url
TOKEN_SECRET=demostringeeotp123
N8N_AUTOMATION_WEBHOOK_URL=https://your-n8n-server-webhook-url
STRINGEE_NUMBER=
STRINGEE_SID_KEY=
STRINGEE_SECRET_KEY=
STRINGEE_VN_GREETING_INPUT_OTP_FILE_ID=
STRINGEE_VN_GREETING_OUTPUT_OTP_FILE_ID=
STRINGEE_VN_VERIFY_SUCCESS_FILE_ID=
STRINGEE_VN_VERIFY_FAILED_FILE_ID=
STRINGEE_VN_OTP_0_FILE_ID=
STRINGEE_VN_OTP_1_FILE_ID=
STRINGEE_VN_OTP_2_FILE_ID=
STRINGEE_VN_OTP_3_FILE_ID=
STRINGEE_VN_OTP_4_FILE_ID=
STRINGEE_VN_OTP_5_FILE_ID=
STRINGEE_VN_OTP_6_FILE_ID=
STRINGEE_VN_OTP_7_FILE_ID=
STRINGEE_VN_OTP_8_FILE_ID=
STRINGEE_VN_OTP_9_FILE_ID=